<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

<body>


<div class="nav">
    <h1 class="logo">hatch<h1/>
     <ul>
        <li><button class="button">Sign In</button></li>
        <li class="nav-link">Pricing</li>
         <li class="nav-link">Blog</li>
        <li class="nav-link">FAQs</li>
         <li class="nav-link">How it works</li>
         <li class="nav-link">Home</li>
     </ul>
</div>

<section>

    
    <img class="img" src="https://images.unsplash.com/photo-1492681290082-e932832941e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80">
    <article>
    <h1 class="page-title">Why its more important than ever to be resolute in your bid for Financial Independance</h1>

    <h2 class="second-headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h2>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue bibendum ipsum quis semper. Quisque enim sapien, lobortis vel dolor non, ultrices lacinia felis. Maecenas vestibulum tortor vel odio placerat, ut pulvinar dolor convallis. Sed congue fringilla ullamcorper. Duis tristique lacus enim, non sagittis tellus commodo vel. Praesent neque ex, sodales et egestas non, accumsan at libero. Sed ut fringilla arcu. Suspendisse dignissim, nulla ut condimentum elementum, nunc felis convallis mauris, a gravida arcu diam nec orci. Vestibulum nec egestas nisl. Pellentesque non lorem quis nulla rhoncus scelerisque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc iaculis urna sed ligula convallis ullamcorper. Mauris faucibus urna ac tincidunt sodales. Nulla facilisi.</p>
    
    <h2 class="second-headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h2>
    <p>Sed at nibh vitae velit vehicula sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras orci mi, bibendum ac tortor lacinia, convallis maximus massa. Vestibulum elementum ultricies quam, ut ultricies purus gravida non. Nulla iaculis ante quis orci dictum dapibus. In consequat, ligula ultricies pretium dictum, metus mi pretium purus, a pulvinar tellus est id ante. Pellentesque elementum in ipsum quis placerat. Integer tincidunt dolor id nibh facilisis, sed aliquet urna rutrum. Morbi dignissim pretium porta. Fusce metus tortor, elementum sed finibus a, feugiat vitae arcu. Vestibulum quis massa euismod, mollis tortor at, laoreet nulla.</p>
    
    <h2 class="second-headline">adipiscing elit. Aenean congue bibendum ipsum quis semper. </h2>
    <p>Aliquam erat volutpat. Donec ut ligula felis. Proin vel commodo lacus. Mauris rutrum tempor neque vehicula porta. Fusce pellentesque dolor elit, ut feugiat odio semper ut. Cras porta dui ac ipsum interdum vestibulum sit amet at mi. In metus leo, feugiat quis purus sit amet, fringilla egestas ex. Phasellus lacinia posuere lectus quis bibendum. Duis interdum, tortor sagittis aliquet hendrerit, odio erat ultrices diam, sed scelerisque eros diam vel felis.</p>
    
    <h2 class="second-headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue bibendum ipsum quis semper. </h2>
    <p>Mauris nec tellus volutpat, ultricies ligula id, maximus nisl. Sed arcu magna, aliquam id lorem tincidunt, ultrices pulvinar nisl. Nunc placerat et libero a imperdiet. Nullam luctus mollis nunc, sit amet molestie diam aliquet vel. In hac habitasse platea dictumst. Nunc iaculis urna ante, nec cursus neque varius nec. Praesent sapien arcu, vulputate sed bibendum at, eleifend vel elit. Vivamus eget tempor neque. Cras lacus est, blandit eu orci sit amet, interdum finibus odio. Sed a ultrices ex. Donec id semper sem. Morbi eget risus at nisl volutpat auctor nec in nisl. Etiam nec orci eu nisi iaculis blandit. Vestibulum molestie fringilla ultricies. Sed id viverra enim. Nam ullamcorper nisi pharetra commodo interdum.</p>
    
</article>

</section>

</body>



